@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");
@font-face {
  font-family: Shabnam;
  src: url('/fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pri-clr: rgb(13, 8, 34);
  --scr-clr: rgb(211, 59, 8);
  --fnt-clr: aliceblue;
  --fnt-lan: "Varela Round" , sans-serif;
  --sli-bgc:var(--pri-clr);
  --bak-ds1: rgba(232, 58, 0, 0.547);
  --bak-ds2: rgba(0, 0, 0, 0.667);
  --hdr-bgc: none;
  --hvr-pri: var(--scr-clr);
  --logo: url(images/vartechlogo.svg);
  --cro-btn: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scr-clr);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--pri-clr);
  color: var(--fnt-clr);
  scroll-behavior: smooth; 
  font-family: var(--fnt-lan);
}

.light {
  --pri-clr: aliceblue;
  --fnt-clr: black;
  --logo: url(images/logolightmode.svg);
  --hdr-bgc: var(--pri-clr);
  --cro-btn: invert();
}
.lan{
  --fnt-lan: Shabnam, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--hdr-bgc);
  width: 100vw;
  z-index: 998;
  position: fixed;
}

.header img {
  margin: 5px 0px 0px 5px;
  width: 50px;
  height: 50px;
  content: var(--logo);
  filter: var(--logo);
  filter: drop-shadow(0px 2px 1px var(--bak-ds2));
}
.header-scrl {
  background-color: var(--pri-clr);
  transition: all 600ms ease-in-out;
}

/* NAV */
ul.nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

li.nav-li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100px;
  height: 65px;
  cursor: pointer;
  z-index: 3;
}

li.nav-li:hover {
  border-bottom: 5px solid var(--scr-clr);
}

.nav-li > a {
  color: var(--fnt-clr);
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.nav-btn {
  height: 100%;
}
.nav-btn > svg {
  height: 25px;
  width: 25px;
}

button.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--fnt-clr);
  transition: border 200ms ease-in-out;
}
.nav-btn > svg:hover {
  filter: drop-shadow(0px 2px 4px var(--bak-ds1));
  color: var(--hvr-pri);
}

/* CAROUSEL */

.carousel-image {
  filter: brightness(50%);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel-image > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel-image-button {
  color: var(--fnt-clr);
  filter: var(--cro-btn);
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-image-button.next {
  right: 1rem;
}

.carousel-image-button.prev {
  left: 1rem;
}
.carousel-image-button:hover,
.carousel-image-button:focus {
  color: var(--fnt-clr);
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-image-button:focus {
  outline: 1px solid var(--fnt-clr);
}

/* CAROUSEL SLIDERS */
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* SERVICEs SECTION */
.services-section {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background: linear-gradient(180deg, var(--pri-clr) 50%, var(--scr-clr) 100%);
}
.info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.info-box-text{
}

.info-box > svg {
  min-width: 50%;
}

.info-box-content {
  padding: 1rem 2.5rem;
}

.info-box:nth-child(1) {
  transition-delay: 300ms;
  padding: 10px;
}

.info-box:nth-child(2) {
  transition-delay: 100ms;
}

.info-box:nth-child(3) {
  transition-delay: 300ms;
}

.info-box:nth-child(4) {
  transition-delay: 100ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* BRAND CAROUSEL */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}
.slider {
  background-color: var(--sli-bgc);
  position: relative;
  height: 120px;
  width: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slider-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(190px * 35);
}

.slider .brand {
  height: 100px;
  width: 100px;
}

ul.slider-track {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.slider-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand > img {
  object-fit: contain;
  height: 120px;
  width: 120px;
  filter: grayscale(100%);
}


.brand > img:hover {
  filter: none;
}
/* GOOGLE MAP */
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .info-box {
    flex-direction: column;
  }
  ul.nav-ul {
    display: none;
  }
}
