@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --pri-clr: rgb(13, 8, 34);
  --scr-clr: rgb(211, 59, 8);
  --fnt-clr: aliceblue;
  --hvr-pri: var(--scr-clr);
  --logo: url(images/vartechlogo.svg);
  --hdr-bgc: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scr-clr);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--pri-clr);
  color: var(--fnt-clr);
}

.light {
  --pri-clr: aliceblue;
  --scr-clr: rgba(13, 8, 34);
  --fnt-clr: black;
  --logo: url(images/logolightmode.svg);
  --hdr-bgc: var(--pri-clr);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--hdr-bgc);
  width: 100vw;
  z-index: 998;
  position: fixed;
}

.header img {
  margin: 5px 0px 0px 5px;
  width: 50px;
  height: 50px;
  content: var(--logo);
  filter: var(--logo);
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.667));
}

/* NAV */
ul.nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

li.nav-li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100px;
  height: 65px;
  cursor: pointer;
  z-index: 3;
}

li.nav-li:hover {
  border-bottom: 5px solid var(--scr-clr);
}

.nav-li > a {
  color: var(--fnt-clr);
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.nav-btn {
  height: 27px;
}

button.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--fnt-clr);
  transition: border 200ms ease-in-out;
}
.nav-btn > svg {
  height: 30px;
  width: 30px;
}
.nav-btn > svg:hover {
  filter: drop-shadow(0px 2px 4px rgba(232, 58, 0, 0.547));
  color: var(--hvr-pri);
}

/* CAROUSEL */

.carousel {
  filter: brightness(50%);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel-button {
  color: var(--fnt-clr);
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-button.next {
  right: 1rem;
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button:hover,
.carousel-button:focus {
  color: var(--fnt-clr);
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-button:focus {
  outline: 1px solid var(--fnt-clr);
}

/* CAROUSEL SLIDERS */
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* SERVICEs SECTION */
.services-section {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(
    180deg,
    var(--pri-clr) 24%,
    var(--scr-clr) 100%
  );
  gap: 25px;
}

.info-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background-color: rgba(226, 102, 34, 0.662);
  backdrop-filter: blur(10px);
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
  z-index: 50;
}

.info-box > img {
  height: 40%;
  width: 100%;
}

h1.info-box-title{
  padding: 10px;
  font-weight: bold;
}

p.info-box-text{
  padding: 10px;
  overflow-y: scroll;
}


/* GOOGLE MAP */
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
