<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/config.css" rel="stylesheet" type="text/css" />
    <title>VARFIG</title>
  </head>
  <body>
    <div class="container">
      <section class="selection">
        <div class="part">
          <img src="../images/Config/cpu.png" alt="">
          <h2>CPU</h2>
        </div>
        <div class="part">
          <img src="../images/Config/hdd.png" alt="">
          <h2>HDD</h2>
        </div>
        <div class="part">
          <img src="../images/Config/gpu.png" alt="">
          <h2>GPU</h2>
        </div>
        <div class="part">
          <img src="../images/Config/fan.png" alt="">
          <h2>FAN</h2>
        </div>
        <div class="part">
          <img src="../images/Config/ram.png" alt="">
          <h2>RAM</h2>
        </div>
        <div class="part">
          <img src="../images/Config/psu.png" alt="">
          <h2>PSU</h2>
        </div>
        <div class="part">
          <img src="../images/Config/mb.png" alt="">
          <h2>MB</h2>
        </div>
        <div class="part">
          <img src="../images/Config/case.png" alt="">
          <h2>CASE</h2>
        </div>
        <div class="part">
          <img src="../images/Config/monitor.png" alt="">
          <h2>MONITOR</h2>
        </div>
      </section>
      <button onclick="fuck()">PRESS</button>
    </div>
    <script src="/js/config.js"></script>
  </body>
</html>
