<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/x-icon" href="images/mainlogo.svg" />
    <title>VARTECH</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NAVIGATION BAR -->
      <nav class="header">
        <div class="logo">
          <img src="./images/vartechlogo.svg" alt="VARTECH" />
        </div>
        <ul class="nav-ul">
          <li
            class="nav-li"
            onclick="document.querySelector('.carousel-section-image').scrollIntoView();"
          >
            HOME
          </li>
          <li
            class="nav-li"
            onclick="document.querySelector('.services-section').scrollIntoView();"
          >
            SERVICES
          </li>
          <li
            class="nav-li"
            onclick="document.querySelector(`h1[class='shop-title']`).scrollIntoView({block:`start`});"
          >
            SHOP
          </li>
          <li
            class="nav-li"
            onclick="document.querySelector('.contact').scrollIntoView();"
          >
            CONTACT
          </li>
        </ul>
        <section class="nav-buttons">
          <!-- LANGUAGE -->
          <div class="nav-btn" id="changeLanguageToggle">
            <svg style="width: 27px; height: 27px" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
              />
            </svg>
          </div>
          <!-- CONFIG -->
          <button class="nav-btn" id="configBuilder">
            <img src="./images/board.svg" alt="" />
          </button>
          <!-- SIGN UP -->
          <button class="nav-btn" id="login" onclick="login()">
            <svg style="width: 27px; height: 27px" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M6,17C6,15 10,13.9 12,13.9C14,13.9 18,15 18,17V18H6M15,9A3,3 0 0,1 12,12A3,3 0 0,1 9,9A3,3 0 0,1 12,6A3,3 0 0,1 15,9M3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3H5C3.89,3 3,3.9 3,5Z"
              />
            </svg>
          </button>
          <!-- LIGHT MODE TOGGLE -->
          <button class="nav-btn" id="lightModeToggle">
            <svg
              id="moon"
              style="width: 27px; height: 27px"
              viewBox="0 0 24 24"
            ></svg>
          </button>
          <a href="#" class="nav-menu" onclick="hamburger()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
        </section>
      </nav>
      <ul class="hamburger-menu">
        <li
          class="nav-li"
          onclick="document.querySelector('.carousel-section-image').scrollIntoView(); this.closest(`ul`).style.display = 'none';"
        >
          HOME
        </li>
        <li
          class="nav-li"
          onclick="document.querySelector('.services-section').scrollIntoView(); this.closest(`ul`).style.display = 'none';"
        >
          SERVICES
        </li>
        <li
          class="nav-li"
          onclick="document.querySelector(`h1[class='shop-title']`).scrollIntoView({block:`start`}); this.closest(`ul`).style.display = 'none';"
        >
          SHOP
        </li>
        <li
          class="nav-li"
          onclick="document.querySelector('.contact').scrollIntoView(); this.closest(`ul`).style.display = 'none';"
        >
          CONTACT
        </li>
      </ul>

      <!-- IMAGE CAROUSEL -->
      <section class="carousel-section-image" aria-label="soldering">
        <div class="carousel-image" data-carousel>
          <button
            class="carousel-image-button prev"
            data-carousel-button="prev"
          >
            <!-- LEFT ARROW -->
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
              />
            </svg>
          </button>
          <button
            class="carousel-image-button next"
            data-carousel-button="next"
          >
            <!-- RIGHT ARROW -->
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
              />
            </svg>
          </button>
          <ul data-slides>
            <li class="slide" data-active>
              <img src="./images/Slider/1.jpg" alt="Soldering #1" />
            </li>
            <li class="slide">
              <img src="./images/Slider/2.jpg" alt="Soldering #2" />
            </li>
            <li class="slide">
              <img src="./images/Slider/3.jpg" alt="Soldering #3" />
            </li>
            <li class="slide">
              <img src="./images/Slider/4.jpg" alt="Soldering #4" />
            </li>
            <li class="slide">
              <img src="./images/Slider/5.jpg" alt="Soldering #5" />
            </li>
            <li class="slide">
              <img src="./images/Slider/6.jpg" alt="Soldering #6" />
            </li>
            <li class="slide">
              <img src="./images/Slider/7.jpg" alt="Soldering #7" />
            </li>
            <li class="slide">
              <img src="./images/Slider/8.jpg" alt="Soldering #8" />
            </li>
            <li class="slide">
              <img src="./images/Slider/9.jpg" alt="Soldering #9" />
            </li>
            <li class="slide">
              <img src="./images/Slider/10.jpg" alt="Soldering #10" />
            </li>
          </ul>
        </div>
      </section>

      <!-- SERVICES -->
      <section class="services-section">
        <div class="info-box hidden">
          <img src="./images/service1.svg" alt="Service illustration" />
          <div class="info-box-content">
            <h1 class="info-box-title"></h1>
            <p class="info-box-text"></p>
          </div>
        </div>
        <div class="info-box hidden">
          <img src="./images/service2.svg" alt="Service illustration" />
          <div class="info-box-content">
            <h1 class="info-box-title"></h1>
            <p class="info-box-text"></p>
          </div>
        </div>
        <div class="info-box hidden">
          <img src="./images/service3.svg" alt="Service illustration" />
          <div class="info-box-content">
            <h1 class="info-box-title"></h1>
            <p class="info-box-text"></p>
          </div>
        </div>
        <div class="info-box hidden">
          <img src="./images/service4.svg" alt="Service illustration" />
          <div class="info-box-content">
            <h1 class="info-box-title"></h1>
            <p class="info-box-text"></p>
          </div>
        </div>
        <!-- SHOP -->
        <h1 class="shop-title">SHOP</h1>
        <hr />
        <section class="shop-section">
          <div class="shop-container">
            <% products.forEach(product => { %>
            <div class="product">
              <img src="<%= product.imgSrc %>" alt="Graphic Card" />
              <h2 class="product-title"><%= product.title %></h2>
              <h4 class="product-price"><%= product.price %></h4>
            </div>
            <% }) %>
          </div>
        </section>

        <!-- WAVE -->
        <div class="wave">
          <img src="./images/waveDark.svg" alt="WTF" />
        </div>
      </section>

      <!-- BRAND SLIDER -->
      <section class="brand-slider">
        <div class="slider" data-carousel>
          <ul class="slider-track" data-slides>
            <div class="b1">
              <li class="brand">
                <img src="./images/Brands/acer.png" alt="Soldering #1" />
              </li>
              <li class="brand">
                <img src="./images/Brands/amd.png" alt="Soldering #2" />
              </li>
              <li class="brand">
                <img src="./images/Brands/asus.png" alt="Soldering #3" />
              </li>
              <li class="brand">
                <img src="./images/Brands/blue.png" alt="Soldering #4" />
              </li>
              <li class="brand">
                <img
                  src="./images/Brands/coolermaster.png"
                  alt="Soldering #5"
                />
              </li>
              <li class="brand">
                <img src="./images/Brands/corsair.png" alt="Soldering #6" />
              </li>
              <li class="brand">
                <img src="./images/Brands/deepcool.png" alt="Soldering #7" />
              </li>
              <li class="brand">
                <img src="./images/Brands/dxracer.png" alt="Soldering #8" />
              </li>
              <li class="brand">
                <img src="./images/Brands/edifire.png" alt="Soldering #9" />
              </li>
              <li class="brand">
                <img src="./images/Brands/ekwb.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/elgato.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/evga.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/foxxray.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img
                  src="./images/Brands/fractal-design.png"
                  alt="Soldering #10"
                />
              </li>
              <li class="brand">
                <img src="./images/Brands/galax.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/gamemax.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/gigabyte.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/glorious.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/green.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/gskill.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/inno3d.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/intel.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/keychron.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/lian-li.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/logitech.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/maono.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/mastertech.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/msi.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/nvidia.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/nzxt.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/palit.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/rapoo.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/razer.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/redragon.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/samsung.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/seagate.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img
                  src="./images/Brands/steelseries.png"
                  alt="Soldering #10"
                />
              </li>
              <li class="brand">
                <img src="./images/Brands/tdagger.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/tsco.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img
                  src="./images/Brands/western-digital.png"
                  alt="Soldering #10"
                />
              </li>
              <li class="brand">
                <img src="./images/Brands/xiaomi.png" alt="Soldering #10" />
              </li>
              <li class="brand">
                <img src="./images/Brands/zotac.png" alt="Soldering #10" />
              </li>
            </div>
          </ul>
        </div>
      </section>

      <!-- CONTACT -->
      <section class="contact">
        <div class="socials">
          <div class="socials-wrapper">
            <div class="socials-logo">
              <img alt="logo" />
              <p>VARTECH</p>
            </div>
            <div class="socials-description">
              <!-- DESCRIPTION -->
              <div>
                <h2 class="socials-title"></h2>
                <p class="socials-body"></p>
              </div>
              <!-- ADDRESS -->
              <div>
                <h2 class="socials-title"></h2>
                <p class="socials-body"></p>
              </div>
              <!-- SCHEDULE -->
              <div>
                <h2 class="socials-title"></h2>
                <p class="socials-body"></p>
              </div>
              <!-- PHONE INFO -->
              <div>
                <h2 class="socials-title"></h2>
                <div id="numbers">
                  <p class="socials-number" onclick="copy(`+98 990 330 3135`)">
                    +98 990 330 3135
                  </p>
                  <p class="socials-number" onclick="copy(`+98 901 928 4117`)">
                    +98 901 928 4117
                  </p>
                </div>
              </div>
            </div>
            <div class="socials-links">
              <a
                class="socials-icon hidden"
                href="https://t.me/var_tech"
                target="_blank"
              >
                <img src="./images/telegram.svg" alt="telegram icon" />
              </a>
              <a
                class="socials-icon hidden"
                href="https://www.instagram.com/vartechshop/"
                target="_blank"
              >
                <img src="./images/instagram.svg" alt="instagram icon" />
              </a>
              <a
                class="socials-icon hidden"
                href="https://mail.google.com/mail/?view=cm&fs=1&to=vartechshop@gmail.com"
                target="_blank"
              >
                <img src="./images/email.svg" alt="email icon" />
              </a>
            </div>
          </div>
        </div>
        <!-- GOOGLE MAP -->
        <div class="address">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.9980404407047!2d51.638161910955056!3d35.330870149027696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f91979164f60f19%3A0x29dfa8301bf63177!2z2qnYp9mF2b7bjNmI2KrYsSDZiNin2LHYqtqp!5e0!3m2!1sen!2suk!4v1672854489087!5m2!1sen!2suk"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </section>
      <!-- LOGIN -->
      <div class="login">
        <div class="signin">
          <img src="./images/login1.svg" alt="" />
          <h1 class="login-title">Already Have An Account ?</h1>
          <button onclick="signin()" type="button" class="login-btn">
            SIGN IN
          </button>
        </div>
        <div class="signup">
          <img src="./images/login2.svg" alt="" />
          <h1 class="login-title">Create A New Account !</h1>
          <button onclick="signup()" type="button" class="login-btn">
            SIGN UP
          </button>
        </div>
        <div class="close-btn">
          <button id="close" onclick="close()">&#215;</button>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script src="./js/script.js"></script>
    <script src="./js/light.js"></script>
    <script src="./js/lang.js"></script>
    <script src="./js/scroll.js"></script>
    <script src="./js/imageCarousel.js"></script>
  </body>
</html>
