@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");
@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vartech;
  src: url("../fonts/Vartech\ reg.otf") format("opentype");
}
@font-face {
  font-family: Vartech;
  font-style: italic;
  src: url("../fonts/Vartech\ reg\ it.otf") format("opentype");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-clr: rgba(13, 8, 34);
  --secondary-bg-clr: rgb(212, 58, 19);
  --parts-bg-clr: rgba(220, 49, 15, 0.772);
  --font-color: aliceblue;
  --background-path: url("../images/circuit-board.svg");
  --font: Vartech, "Varela Round";
  --font2: "Varela Round" , "Lato";
}

body {
  background-image: var(--background-path);
  background-color: var(--font);
  max-width: 100%;
  color: var(--font-color);
  font-family: var(--font);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 40px 0px;
}
.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 1s ease-in-out;
}

.button-container > button {
  width: 150px;
  height: 80px;
  border: none;
  color: var(--font-color);
  font-size: 1.5rem;
  font-family: inherit;
  background-color: var(--primary-bg-clr);
  border: 3px solid var(--secondary-bg-clr);
  box-shadow: 0px 20px var(--secondary-bg-clr);
  transition: all 300ms ease-in-out;
}
.button-container > button:hover {
  box-shadow: 0px 5px var(--secondary-bg-clr);
  transform: translateY(15px);
}

.selection {
  width: 699px;
  max-width: 100%;
  height: 310px;
  display: inline-flex;
  flex-flow: row wrap;
  flex-basis: 33.333333%;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 40px;
}
.part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 150px;
  width: 150px;
  text-align: center;
  backdrop-filter: blur(2px);
  background-color: var(--parts-bg-clr);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border-radius: 1rem;
}
.part:hover {
  transform: scale(1.04);
  background-color: var(--primary-bg-clr);
  border: 3px solid var(--secondary-bg-clr);
}
.selected {
  background-color: var(--primary-bg-clr);
  border: 3px solid var(--font-color);
}
.part > img {
  width: 50%;
  height: 50%;
}
.part > h2 {
  font-size: 1rem;
  margin: 5px;
}
.part > input {
  width: 25%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  color: var(--font-color);
  font-family: var(--font);
}
.part > input:focus {
  border: 2px solid var(--secondary-bg-clr);
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s;
}

.conf-table {
  margin-bottom: 20px;
  border-collapse: collapse;
  font-family: var(--font2);
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* TABLE */
table {
  margin-top: 3rem;
}
.conf-table th {
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  font-family: var(--font);
  padding: 1em;
}
.conf-table td {
  color: #000000;
  font-size: 1.4em;
  border: 0.3rem solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
td > input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  border: none;
}
td > input:focus {
  outline: none;
}
#blank{
  background-color:transparent;
  border: none;
}
.conf-table tr {
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

/* Remove Default Input Arrows 
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
