@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");

@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vartech;
  src: url("../fonts/Vartech\ reg.otf") format("opentype");
}
@font-face {
  font-family: Vartech;
  font-style: italic;
  src: url("../fonts/Vartech\ reg\ it.otf") format("opentype");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pri-clr: rgba(13, 8, 34);
  --scr-clr: rgba(211, 59, 8);
  --fnt-clr: aliceblue;
  --fnt-clr2: aliceblue;
  --bak-ds1: rgba(232, 58, 0, 0.547);
  --bak-ds2: rgba(0, 0, 0, 0.667);
  --bak-drp: rgba(0, 0, 0, 0.1);
  --sli-bgc: var(--pri-clr);
  --hvr-pri: var(--scr-clr);
  --hr-clr: aliceblue;
  --hdr-bgc: none;
  --cro-btn: none;
  --brand-filter: none;
  --icon-filter: invert();
  --map-filter: grayscale(50%) invert(100%);

  --fnt-lan: "Varela Round", sans-serif;
  --fnt-hdr: Vartech, "Varela Round", sans-serif;

  --logo: url("../images/vartechlogo.svg");
  --wave: url("../images/waveDark.svg");
  --board: url("../images/boardlight.svg");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scr-clr);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--pri-clr);
  color: var(--fnt-clr);
  scroll-behavior: smooth;
  font-family: var(--fnt-lan);
}

.light {
  --pri-clr: #f0f8ff;
  --fnt-clr: black;
  --bak-drp: rgba(240, 248, 255, 0.438);
  --hdr-bgc: var(--pri-clr);
  --hr-clr: black;
  --logo: url("../images/logolightmode.svg");
  --wave: url("../images/waveLight.svg");
  --board: url("../images/boarddark.svg");
  --icon-filter: none;
  --brand-filter: invert();
  --cro-btn: invert();
  --map-filter: none;
}
.lan {
  --fnt-lan: Shabnam, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: var(--hdr-bgc);
  width: 100vw;
  z-index: 998;
  position: fixed;
}
.logo > img {
  margin: 5px 0px 0px 5px;
  width: 50px;
  height: 50px;
  content: var(--logo);
  filter: var(--logo);
  filter: drop-shadow(0px 2px 1px var(--bak-ds2));
}
.header-scrl {
  background-color: var(--pri-clr);
  transition: all 600ms ease-in-out;
}

/* NAV */
.nav-menu {
  display: none;
  top: 0.75rem;
  right: 1rem;
  justify-content: space-between;
  flex-direction: column;
  width: 25px;
  height: 20px;
}
.nav-menu .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--fnt-clr);
}
ul.nav-ul {
  font-family: var(--fnt-hdr);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  flex-direction: row;
}
.hamburger-menu{
  z-index: 99999;
  width: 100vw;
  height: 45vh;
  background-color: var(--pri-clr);
}
ul.hamburger-menu{
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--fnt-hdr);
  padding: 0;
  list-style: none;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  flex-direction: column;
}
.hamburger-menu > li{
  width: 100%;
  height: 100%;
}
.hamburger-menu > li:active{
  transform: scale(0.95);
}
li.nav-li {
  min-width: 10vw;
  min-height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  z-index: 3;
}

li.nav-li:hover {
  border-bottom: 5px solid var(--scr-clr);
}

.nav-li > a {
  color: var(--fnt-clr);
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.nav-btn {
  height: 100%;
}
.nav-btn > svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.nav-btn > img {
  height: 29px;
  width: 29px;
  cursor: pointer;
  filter: var(--icon-filter);
}
.nav-btn > a {
  width: 100%;
  height: 100%;
}
button.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--fnt-clr);
  transition: border 200ms ease-in-out;
  cursor: pointer;
}
.nav-btn > svg:hover {
  filter: drop-shadow(0px 2px 4px var(--bak-ds1));
  color: var(--hvr-pri);
}

/* CAROUSEL */
.carousel-image {
  filter: brightness(50%);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel-image > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.carousel-image-button {
  color: var(--fnt-clr);
  filter: var(--cro-btn);
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.2rem;
  background-color: var(--bak-drp);
}
.carousel-image-button.next {
  right: 1rem;
}

.carousel-image-button.prev {
  left: 1rem;
}
.carousel-image-button:hover,
.carousel-image-button:focus {
  color: var(--fnt-clr);
  background-color: var(--bak-drp);
}
.carousel-image-button:focus {
  outline: 1px solid var(--fnt-clr);
}

/* CAROUSEL SLIDERS */
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* SERVICEs SECTION */
.services-section {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background: linear-gradient(180deg, var(--pri-clr) 50%, var(--scr-clr) 100%);
}
.info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.info-box > img {
  min-width: 50%;
}

.info-box-content {
  padding: 1rem 2.5rem;
}

.info-box:nth-child(1) {
  transition-delay: 300ms;
  padding: 10px;
}

.info-box:nth-child(2) {
  transition-delay: 100ms;
}

.info-box:nth-child(3) {
  transition-delay: 300ms;
}

.info-box:nth-child(4) {
  transition-delay: 100ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* SHOP */
.shop-title {
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  font-family: var(--fnt-hdr);
}
hr {
  margin-left: 5rem;
  margin-right: 5rem;
  border: 2px var(--hr-clr) solid;
  background-color: var(--hr-clr);
}
.shop-section {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 40px 0px;
}
.shop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 40px;
}
.product {
  border: 4px solid var(--pri-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 400px;
  min-width: 30vw;
  text-align: center;
  cursor: pointer;
}
.product:hover {
  border: 4px solid var(--scr-clr);
}
.product > img {
  max-width: 90%;
  height: 90%;
  object-fit: contain;
  transition: all 100ms ease-in-out;
}
.product > img:hover {
  transform: scale(110%);
}
.product > h2 {
  font-size: 1rem;
  margin: 5px;
  min-width: 0;
}
.product > h4 {
  font-size: 1rem;
  margin: 5px;
}
/* WAVE */
.wave {
  height: 100%;
  width: 100%;
}
.wave > img {
  content: var(--wave);
  transform: translateY(10px);
}

/* BRAND CAROUSEL */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200%));
  }
}

.slider {
  background-color: var(--pri-clr);
  height: 110px;
  overflow: hidden;
}

.slider-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 100%;
}

ul.slider-track {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.b1 {
  display: flex;
}
.brand {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 200px;
  filter: var(--brand-filter);
}

.brand > img {
  object-fit: contain;
  max-width: 100px;
  max-height: 100px;
  filter: grayscale(100%);
}
.brand > img:hover {
  filter: none;
}

/* CONTACT */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-image: url("../images/topography.svg");
  background-color: var(--pri-clr);
}
.socials {
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.socials-wrapper {
  width: 90%;
  height: auto;
  background-color: var(--bak-drp);
  backdrop-filter: blur(1.8px);
  border-radius: 5%;
  border: 2px solid rgba(230, 34, 20, 0.443);
}
.socials-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.socials-logo > p {
  font-family: Vartech, "Varela Round", sans-serif;
  margin-bottom: 1rem;
}
.socials-logo img {
  width: 100px;
  height: 100px;
  content: var(--logo);
}
.socials-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin: 0px 1rem;
}
.socials-title {
  font-family: Vartech, "Varela Round", sans-serif;
  font-weight: 0;
  font-size: 1.2rem;
}
.socials-number {
  text-align: center;
  padding: 0.5rem;
}
#numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#numbers > p:hover {
  color: var(--scr-clr);
  cursor: pointer;
}
.socials-body {
  padding: 0.5rem;
}
.socials-links {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}
.socials-icon {
  width: 40px;
  height: 40px;
  margin: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.socials-icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials-icon:hover {
  background-color: transparent;
  background-image: none;
}

.socials-icon:nth-child(1) {
  transition-delay: 500ms;
}

.socials-icon:nth-child(2) {
  transition-delay: 400ms;
}

.socials-icon:nth-child(3) {
  transition-delay: 300ms;
}

.socials-icon:nth-child(4) {
  transition-delay: 100ms;
}
/* GOOGLE MAP */

.address iframe {
  width: 50vw;
  height: 100vh;
  filter: var(--map-filter);
}

.success {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  background-color: rgb(29, 204, 119);
  border-radius: 5px;
  z-index: 99999;
  animation: done 5s ease-out;
  opacity: 0;
}
.fail {
  position: absolute;
  max-width: 20vw;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 8%;
  bottom: 0;
  background-color: rgb(207, 38, 38);
  border-radius: 5px;
  z-index: 99999;
  animation: done 20s;
  opacity: 0;
}
/* LOGIN */
.login {
  position: absolute;
  max-width: 85vw;
  height: 500px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  background-color: rgba(255, 64, 0, 0.568);
  backdrop-filter: blur(6px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 99999;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 5px 10px black;
}
.signin {
  display: flex;
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 15px;
  text-align: center;
}
.signin:hover {
  background-image: url("../images/topography.svg");
  background-color: var(--pri-clr);
}
.signin > img{
  width: 200px;
  height: 200px;
}
.signup {
  display: flex;
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 15px;
  text-align: center;
}
.signup:hover {
  background-image: url("../images/topography.svg");
  background-color: var(--pri-clr);
}
.signup > img{
  width: 200px;
  height: 200px;
}
.login-title {
  font-size: 1.4rem;
  padding: 0px 30px;
  color: var(--fnt-clr);
  text-shadow: 0px 5px 10px black;
}
.login-container{
  background-color: rgb(255, 251, 251);
  width: 80vw;
  height: 80vh;
}
button[type="button"] {
  border: 1px solid var(--scr-clr);
  background-color: var(--scr-clr);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  box-shadow: 0px 5px 10px black;
}
button[type="button"]:active {
  transform: scale(0.95);
}
button[type="button"]:focus {
  outline: none;
}
.close-btn{
  position: absolute;
  top: 10px;
  left: calc(100% - 29px);
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;  
  text-align: center;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
}
.close-btn > button{
  background-color: rgba(235, 56, 29, 0.612);
  backdrop-filter: blur(2px);
  color: aliceblue;
  outline: none;
  border: none;
  font-size: 2rem;
  text-align: center;
  padding: 0px 10px;
}
.close-btn > button:active{
  transform: scale(0.85);

}
@keyframes done {
  5% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  15% {
    opacity: 1;
  }
  55% {
    transform: translateY(20px);
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 700px) {
  .contact {
    flex-direction: column;
  }
  .socials,
  .address iframe {
    width: 100vw;
    height: 100vh;
  }
  .login {
    flex-direction: column;
    height: 650px;
  }
  .login-title {
    font-size: 1rem;
  }
  .signin,
  .signup {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 720px) {
  .nav-menu {
    display: flex;
  }
  ul.nav-ul {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .info-box {
    flex-direction: column;
  }
}
@media screen and (max-width: 360px) {
  .header .logo{
    display: none;
  }
  .header{
    padding: 10px 0px;
  }
  .nav-buttons{
    margin-right: 0px;
  }
}
@media screen and (max-width: 300px) {
  .header{
    justify-content: center;
  }
  .nav-buttons{
    gap: 13px;
  }
}
