<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/profile.css" rel="stylesheet" type="text/css" />
    <title>SIGN UP</title>
  </head>
  <body>
    <div class="cart-container">
      <div class="nothing">
        <div class="nh">
          <a href="/">HOME</a>
          <pre> > </pre>
          <a href="#">PROFILE</a>
          <div class="close-btn">
            <button>&#215;</button>
          </div>
        </div>
        <div class="nb">
          <div class="pfp"><img src="../images/profile.svg" alt=""></div>
          <h1 class="nothing-title">Logged In Successfully</h1>
        </div>
      </div>
    </div>
    <script src="/js/light.js"></script>
    <script src="/js/sign.js"></script>
  </body>
</html>
